.course-container {
  width: 90%;
  margin: auto;
}
.all-courses {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  float: left;
}
.cart-items {
  width: 20%;
  float: right;
}
.all-courses h1 {
  display: block;
}
.courses {
  display: flex;
  width: 29%;
  margin: 2%;
  border: 1px solid lightblue;
  border-radius: 3px;
}
.single-courses img {
  width: 100%;
}
.course-content {
  padding: 20px;
}
.products img {
  width: 30%;
  margin: auto;
}
.cart > div {
  border: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 15px;
}
.cart h3 {
  font-size: 18px;
}
.cart-image {
  width: 40%;
  display: inline-block;
  margin-bottom: 20px;
}
.cart img {
  width: 100%;
  border-radius: 3px;
}
.total-amount {
  border: 1px solid lightgray;
  padding: 10px;
  margin-top: 20px;
}
.header-section {
  background: #002333;
  padding: 20px;
}
.logo img {
  width: 30%;
}
.fa-shopping-basket {
  font-size: 30px;
  color: #ff007b;
}
.header-cart {
  position: relative;
}
.cart-item {
  position: absolute;
  background-color: #ff007b;
  color: #FFFFFF;
  font-size: 16px;
  padding: 3px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  top: 0;
  right: -24px;
}
.fun-face {
  margin-bottom: 20px;
  overflow: hidden;
}
.students {
  float: left;
}
.lesson {
  float: right;
}
button {
  background-color: #ff007b;
  border: 0;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 3px !important;
  padding: 6px 20px;
  margin-top: 20px;
}